.select2-container--default .select2-selection--single {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-sizing: border-box;
  vertical-align: middle;
  margin-top: 1px;
  margin-bottom: 1px;
  font: 400 11px system-ui;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 24px;
  font-family: Verdana, sans-serif;
}

.select2-container--default .select2-selection--single:focus {
  border: 1px solid #5ad;
  outline: none;
}

.select2-results__option {
  font: 400 11px system-ui;
  font-family: Verdana, sans-serif;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #333;
  line-height: 22px;
}

/* Adjust size */
fieldset#filters td.values .select2-container--default {
  max-width: 230px;
  min-width: 140px;
}
.tabular .select2-container {
  min-width: 150px;
}
.select2-container {
  min-width: 100px;
}
.tabular .splitcontent .select2-container {
  width: 75%;
  max-width: 300px;
}
#add_filter_select + .select2-container,
#group_by + .select2-container {
  min-width: 200px;
}

.select2-results__options::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
}
.select2-results__options::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #00000080;
  box-shadow: 0 0 1px #ffffff80;
}
.select2-results__options li {
  padding: 3px 6px;
}

/* Increase the height of the select box */
.select2-container--default .select2-results>.select2-results__options{
  max-height: 450px;
}

/* Change the style referring to the default theme of Redmine */
.select2-search--dropdown input.select2-search__field {
  background: #fff url(../../../images/magnifier.png) no-repeat 2px 50%;
  padding-left: 20px;
}
.select2-search--dropdown input.select2-search__field:focus {
  border: 1px solid #5ad;
  outline: none;
}
li.select2-results__option--highlighted[role="option"][aria-selected] {
  background-color: #759FC2;
  color: #fff;
}
.select2-dropdown {
  padding-bottom: 5px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .5);
  border: none;
}