/* Fix https: //github.com/redmica/redmica_ui_extension/issues/38 */
.mermaid .task {
  height: 20px;
}

/* Fix https://github.com/mermaid-js/mermaid/issues/1984 */
div.mermaid svg {
  height: auto;
}