/* Fix https: //github.com/redmica/redmica_ui_extension/issues/38 */
.mermaid .task {
  height: 20px;
}

/* Fix https://github.com/mermaid-js/mermaid/issues/1984 */
div.mermaid svg {
  height: auto;
}

/* Hide the diagram until it has been converted to a diagram by mermaid.js (until data-processed="true") */
.mermaid:not([data-processed="true"]) { display: none; }
