name: Test
on: [push, pull_request, workflow_dispatch]
jobs:
  test-postgres:
    strategy:
      fail-fast: false
      matrix:
        redmica_version: ["v3.2.5", "master"]
    runs-on: ubuntu-latest
    container:
      image: ruby:3.4
    services:
      db:
        image: postgres:14
        env:
          LANG: C.UTF-8
          POSTGRES_INITDB_ARGS: --locale=C.UTF-8
          POSTGRES_PASSWORD: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        run: |
          chmod +x /__w/redmica_ui_extension/redmica_ui_extension/.github/scripts/setup-redmica.sh
          /__w/redmica_ui_extension/redmica_ui_extension/.github/scripts/setup-redmica.sh ${{matrix.redmica_version}} postgres /usr/src/redmine
      - name: Test RedMica UI Extension plugin
        run: cd /usr/src/redmine; RAILS_ENV=test bundle exec rake test TEST=plugins/redmica_ui_extension/test
      - name: Store screenshots Artifacts
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-postgres-${{ matrix.redmica_version }}-screenshots
          path: /usr/src/redmine/tmp/screenshots
          retention-days: 1
      - name: Test RedMica
        run: cd /usr/src/redmine; RAILS_ENV=test bundle exec rake test
        continue-on-error: true

  test-mysql:
    strategy:
      fail-fast: false
      matrix:
        redmica_version: ["v3.2.5", "master"]
    runs-on: ubuntu-latest
    container:
      image: ruby:3.4
    services:
      db:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: password
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        run: |
          chmod +x /__w/redmica_ui_extension/redmica_ui_extension/.github/scripts/setup-redmica.sh
          /__w/redmica_ui_extension/redmica_ui_extension/.github/scripts/setup-redmica.sh ${{matrix.redmica_version}} mysql /usr/src/redmine
      - name: Test RedMica UI Extension plugin
        run: cd /usr/src/redmine; RAILS_ENV=test bundle exec rake test TEST=plugins/redmica_ui_extension/test
      - name: Store screenshots Artifacts
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-mysql-${{ matrix.redmica_version }}-screenshots
          path: /usr/src/redmine/tmp/screenshots
          retention-days: 1
      - name: Test RedMica
        run: cd /usr/src/redmine; RAILS_ENV=test bundle exec rake test
        continue-on-error: true

  test-sqlite:
    strategy:
      fail-fast: false
      matrix:
        redmica_version: ["v3.2.5", "master"]
    runs-on: ubuntu-latest
    container:
      image: ruby:3.4
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        run: |
          chmod +x /__w/redmica_ui_extension/redmica_ui_extension/.github/scripts/setup-redmica.sh
          /__w/redmica_ui_extension/redmica_ui_extension/.github/scripts/setup-redmica.sh ${{matrix.redmica_version}} sqlite /usr/src/redmine
      - name: Test RedMica UI Extension plugin
        run: cd /usr/src/redmine; RAILS_ENV=test bundle exec rake test TEST=plugins/redmica_ui_extension/test
      - name: Store screenshots Artifacts
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-sqlite-${{ matrix.redmica_version }}-screenshots
          path: /usr/src/redmine/tmp/screenshots
          retention-days: 1
      - name: Test RedMica
        run: cd /usr/src/redmine; RAILS_ENV=test bundle exec rake test
        continue-on-error: true
